<form class="example-form">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="w-100 example-full-width" appearance="outline">
                <mat-label>CourtName</mat-label>
                <input matInput placeholder="CaseName">
              </mat-form-field>
        </div>
    </div>
                <button mat-raised-button color="accent">save</button>
</form>  
<br>
<hr>
<div class="table">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
           
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            
          </tr>
          
        </tbody>
      </table>
</div>