<table class="table table-bordered">
  <thead>
    <tr>
    
      <th scope="col">LicenceNumber</th>
      <th scope="col">FName</th>
      <th scope="col">MName</th>
      <th scope="col">LName</th>
      <th scope="col">CarPlateNumber</th>
      <th scope="col">CasesName</th>
      <th scope="col">CourtName</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of driverList">
     
      <td>{{list.licenceNumber}}</td>
      <td>{{list.fname}}</td>
      <td>{{list.mname}}</td>
      <td>{{list.lname}}</td>
      <td>{{list.casesname}}</td>
      <td>{{list.carplatenumber}}</td>
      <td>{{list.courtname}}</td>
     
      <button mat-fab color="primary" aria-label="Example icon button with a edit icon" (click)="edit(list)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="delete(list.licenceNumber)">
        <mat-icon>delete</mat-icon>
      </button>
    </tr>
    
  </tbody>
</table>